# Symfony 6 specific files
/.idea/
/.vscode/

# Symfony directories
/var/
/vendor/
/node_modules/

# Composer files
composer.phar

# Symfony logs and cache
/var/cache/
/var/log/
/var/sessions/

# .env files (conté configuració sensible, com contrasenyes de bases de dades)
.env
.env.local
.env.*.local

# Files de configuració específics per a l'entorn
/.env.test.local
/.env.dev.local

# Fitxers de dependències específics d'OS o IDEs
.DS_Store
Thumbs.db

# Fitxers generats per la compilació i build
/public/bundles/
/public/build/
/build/
/var/run/
/var/backups/

# Fitxers de migracions de bases de dades, si utilitzes Doctrine
# Aquests fitxers es poden regenerar, així que no haurien de ser pujats al repositori
/migrations/*.php

# Fitxers de configuració per IDEs
/.idea
/.vscode

# Fitxers de dependències de front-end
npm-debug.log
yarn-debug.log
yarn-error.log

# Fitxers específics de Docker si utilitzes Docker (optional)
.docker-compose.override.yml
.docker

# Keys i fitxers de configuració de Firebase o serveis externs
*.key
*.pem
*.crt
*.p12

